<!DOCTYPE html>
<html lang="fr">
<%- include('layouts/header') %>

<body>
<%- include('layouts/navbar') %>

<header class="masthead" style="background-image: url('/assets/img/contact-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Mot de passe oublié</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <%- include('layouts/flash') %>

                <form action="/auth/forgot-password" method="POST">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="username" name="username" type="text" placeholder="Email" required />
                        <label for="username">Email</label>
                    </div>

                    <button class="btn btn-primary text-uppercase w-100" type="submit">
                        Envoyer le lien
                    </button>
                </form>

            </div>
        </div>
    </div>
</main>

<%- include('layouts/footer') %>
<%- include('layouts/scripts') %>
</body>
</html>
